* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

.all-wrapper{
  display: grid;
  grid-template-columns: 40% 30% 30%;
  grid-template-rows: 48% 50%;
  /* border: 6px solid goldenrod; */
  background-color: rgb(63, 146, 98);
  gap: 10px;
  overflow-x: hidden;
  min-height: 100vh;
}

.modal {
  position: absolute;
  width: 550px;
  height: 350px;
  left: 300px;
  top: 100px;
  background-color: rgba(218, 165, 32, 0.938);
  z-index: 3;
  display: none;
  padding: 50px;
  border-radius: 10px;
}

.main{
  /* border: 10px solid red; */
  position: relative;
  grid-column: 1 / 3;
  display: flex;
  padding: 20px;
}

.base {
  width: 30%;
}

.kurd{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: pink;
  margin-top: 100px;
  margin-left: 40px;
  cursor: pointer;
  animation: 4s linear 0s infinite alternate spin_clockwise;
}

#start {
  height: 150px;
  width: 250px;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 30px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.kurd > div, .not-kurd > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-kurd{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: red;
  margin-top: 100px;
  margin-left: 40px;
  cursor: pointer;
  animation: 8s linear 0s infinite alternate spin_counter_clockwise;
}

.console{
  /* border: 10px solid green; */
  grid-column: 3 / 4;
  grid-row: 1/3;
}

/* .level {
  margin-top: 40px;
  margin-left: 40px;
} */

.status {
  margin-top: 30px;
}

.loading {
  margin-top: 15px;
}

.cat-section.active{
  /* border: 10px solid yellow; */
  /* display: block; */
  grid-column: 1 / 2;
  padding: 20px;
}

.cat{
  width: 80%;
}

.portukal-section.active{
  /* border: 10px solid blue; */
  grid-column: 2 / 3;
  /* display: block; */
}

.portukal{
  width: 100%;
}

.opinions{

}

.opinions > ol {

}

.opinions > ol > li {


}

.opinion {
  margin-top: 5px;
}


@keyframes spin_clockwise { from { transform: rotate(0);} to { transform: rotate(360deg); }  }
@keyframes spin_counter_clockwise { from { transform: rotate(360deg);} to { transform: rotate(0); }  }

.cat-section, .portukal-section, .opinion, .dance, .kurd, .not-kurd, .modal{
  display: none;
}

.active {
  display: block;
}

.kurd.active.move {
  position: absolute;
  margin: 0;
  transform: translate(50%, 500%);
}

img{
  border-radius: 10px;
}